html {
  background-color: #eeeeee;
}

body {
  margin: 0;
  font-family: "Arial";
  font-size: 13px;
  color: #333;
  line-height: 20px; }

a {
  color: #0084DD;
  text-decoration: none; }
  a:hover, a:focus {
    color: #1F8DD6;
    text-decoration: underline; }

p {
  margin-bottom: 10px;
}

strong {
  font-weight: bold; }

hr {
  border-color: #DDD;
  border-style: inherit;
  border-width: 1px;
  border-bottom: 0; }

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.main {
  width: 720px;
  height: 420px;
  margin: 20px auto;
  padding: 40px;
  background-color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.welcome-span {
  float: right;
  position: relative;
  top: -20px;
  height: 0;
}

.board {
  width: 416px;
  height: 416px;
  border: 2px solid #DDD;
}
  .board > div.card {
    width: 103px;
    height: 103px;
    float: left;
    background: url("../img/card_bg.gif") no-repeat 0 0;
    background-size: cover;
    border: 2px solid #FFF;
  }
  .board > .card.selected {
    border: 2px solid #2dd66f;
  }

.options {
  width: 290px;
  height: 600px;
}

.logo {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.game-info {
  height: 358px;
  overflow-y: auto;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
}

button.show-scores {
  width: 48%;
  font-size: 14px;
  padding: 1em 1em;
  margin-left: 2%;
  float: right;
}

form div.label {
  margin-bottom: 15px; }
form p.help {
  display: inline;
  margin-left: 10px; }
form div.label.error {
  color: #EC2400; }
  form div.label.error input[type="text"] {
    border-color: #EC2400; }

input[type="text"] {
  padding: 8px 10px;
  width: 240px;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  input[type="text"]:focus {
    border: 1px solid #4D90FE;
    -webkit-box-shadow: 0px 0px 2px #4D90FE;
    -moz-box-shadow: 0px 0px 2px #4D90FE;
    box-shadow: 0px 0px 2px #4D90FE;
    outline: 0; }

table {
  border: 1px solid #DDD;
  width: 100%; }
  table td {
    border: 1px solid #DDD;
    padding: 10px;
    font-size: 14px; }
  table th {
    border: 1px solid #DDD;
    padding: 10px;
    font-size: 14px;
    font-weight: 700; }
  table td.numeric {
    text-align: right; }
  table tr.highlight td {
    background: #EEE; }
