<div class="container-fluid" style="margin-top:15px;">
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-9">
                <div class="">
                    <img ng-src="img/logo.png"/>
                </div>
            </div>
            <div class="col-sm-3">
                   <ul>
                    <li>
                        <span>
                            <span id="welcome-user-address" ng-bind="userAddress"></span>
                            <span id="welcome-user-name" ng-bind="userName"></span>!
                            <a href="javascript:void(0);"
                               ng-if="currentUserId"
                               ng-click="notYou()">Not you?</a>
                        </span>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div id="game-board" class="board">
                    <div
                            ng-repeat="card in gameCards track by $index"
                            class="card card-{{$index +1 }}"
                            ng-class="{'selected': $first}">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="options right">
                    <div class="game-info">
                        <div>
                            To play the game, use the navigation keys to move left, right, bottom or up.
                            To open a card press "Enter" key.</div>
                        <hr/>
                        <strong>Current Game</strong>
                        <ul>
                            <li>Current Score: <span id="current-score" ng-bind="currentScore"></span></li>
                            <li>Total Moves: <span id="total-moves" ng-bind="totalMoves">0</span></li>
                            <li>Pairs Opened: <span id="pairs-opened" ng-bind="pairsOpened">0</span></li>
                            <li>Time Lapsed: <span id="time-lapsed" ng-bind="timeLapsed">00:00</span></li>
                        </ul>
                        <hr/>
                        <strong>Previous Games</strong>
                        <ul>
                            <li>Games Played: <span id="games-played" ng-bind="gamesPlayed">0</span></li>
                            <li>Best Score: <span id="best-score" ng-bind="bestScore">0</span></li>
                        </ul>
                    </div>
                    <button class="btn btn-primary btn-lg" id="restart" ng-click="restart()">Restart Game</button>
                    <button class="btn btn-default btn-lg" id="show-scores" ng-click="showScores()">Show Scores</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
</div>